body {
  background: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.card {
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 17px;
  width: 300px;
}

.card__header .card--image {
  width: 100%;
  border-radius: 10px;
}

.card__body {
  text-align: center;
  padding: 10px;
  padding: 0 14px 5px 14px;
}

.card__body h1 {
  color: hsl(218, 44%, 22%);
  font-size: x-large;
}

.card__body p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
